<%# params: (params => QueryFormat type object) %>
<table class="help">
	<tr>
		<th>Parameter</th>
		<th>Name</th>
		<th>Description</th>
	</tr>
	<% params.each { |key,val| %>
		<tr>
			<td><%= key %></td>
			<td><%= val[:name] %></td>
			<td><%= val[:description] %></td>
		</tr>
	<% } %>
</table>