table.help {
	border: 1px solid #cccccc;
	margin-top: 16px;
	margin-bottom: 16px;
}

table.help th {
	text-align: left;
	border: 1px solid #cccccc;
	padding: 4px;
	font-family: verdana, arial, helvetica, sans-serif;
	color: #8b9a49;
	font-weight: bold;
}

table.help td {
	border: 1px solid #cccccc;
	padding: 4px;
	font-size: 14px;
}
